@media screen and (max-width: 992px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  #hamburger-nav .hamburger-icon {
    height: 1.05rem;
    width: 1.15rem;
  }
  #hamburger-nav .menu-links {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #hamburger-nav .menu-links li a {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-container img {
    height: 18rem;
  }
}
